# Data Analysis with Pandas - Problem Set

## Reading in Data

1. Read in the comma-separated file "client_list.csv". Assign as variable `df1`.
2. Read in the delimted file "client_list.table". Assign as variable as `df2`.
3. Read in the fixed-width file "client_list.txt". Assign as variable `df3`
4. Read in the comma-separated file "client_list.csv", skip the first 3 rows, and ignore the header. Do not assign to variable (just return a view).
5. Read in the comma-separated file "client_list.csv". Set the column headers in all caps. Assign as variable `df`.
6. Read in the comma-separated file "client_list_practice.csv" and only extract the columns ["FIRST_NAME","AGE","EYE_COLOR"]. Do not assign to a variable.

# 1. Soru Cevabı (Virgülle ayrılmış "client_list.csv" dosyasını okuyun. Değişken olarak atayın df1.)

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('client_list.csv')

In [3]:
df1.head()

  first_name LAST_NAME gender  Age Hair_COLOR eye_Color
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

# 2. Soru Cevabı Ayrılmış "client_list.table" dosyasını okuyun. Değişken olarak . olarak atayın df2.

In [4]:
df2 = pd.read_table('client_list.table')

In [5]:
df2.head()

  first_name;LAST_NAME;gender;Age;Hair_COLOR;eye_Color
0                    Jennifer;Jones;F;27;black;brown
1                     Jaime;Roberts;M;32;brown;hazel
2                     Michael;Johnson;M;55;red;green
3                        Mary;Adams;F;42;blonde;blue
4                  Robert;Phillips;M;37;blonde;brown

# 3. Soru Cevabı Sabit genişlikteki "client_list.txt" dosyasını okuyun. Değişken olarak atayındf3

In [6]:
df3 = pd.read_csv('client_list.txt')

In [7]:
df3.head()

  first_name  LAST_NAME   gender  Age   Hair_COLOR  eye_Color
0  Jennifer    Jones       F       27    black   ...
1  Jaime       Roberts     M       32    brown   ...
2  Michael     Johnson     M       55    red     ...
3  Mary        Adams       F       42    blonde  ...
4  Robert      Phillips    M       37    blonde  ...

# 4. Soru Cevabı Virgülle ayrılmış "client_list.csv" dosyasını okuyun, ilk 3 satırı atlayın ve başlığı yoksayın. Değişkene atama yapmayın (sadece bir görünüm döndürün).

In [8]:
pd.read_csv('client_list.csv', skiprows=3,header=None)

           0         1  2   3       4      5
0    Michael   Johnson  M  55     red  green
1       Mary     Adams  F  42  blonde   blue
2     Robert  Phillips  M  37  blonde  brown
3     Thomas     Moore  M  60   brown   blue
4    Natalie    Potter  F  21   brown  green
5     Brenda     Jones  F  18  blonde  brown
6    Michael     Smith  M  58   brown  brown
7   Jennifer     Smith  F  36   black  brown
8    Michael     Smith  M  37   black  hazel
9    Jessica    Rabbit  F  19   black   blue
10     Molly    Bryant  F  21   brown   blue
11     Jaime  Anderson  F  46   brown  green

# 5.Soru Cevabı Virgülle ayrılmış "client_list.csv" dosyasını okuyun. Sütun başlıklarını tamamen büyük harflerle ayarlayın. Değişken olarak atayın df.

In [9]:
df = pd.read_csv('client_list.csv')
df.columns = df.columns.str.upper()

In [10]:
df.head()

  FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

# 6. Soru Cevabı Virgülle ayrılmış "client_list_practice.csv" dosyasını okuyun ve yalnızca ["FIRST_NAME","AGE","EYE_COLOR"] sütunlarını çıkarın. Bir değişkene atama yapmayın.

In [11]:
pd.read_csv('client_list_practice.csv')[['FIRST_NAME', 'AGE', 'EYE_COLOR']]

   FIRST_NAME   AGE EYE_COLOR
0    Jennifer  27.0     brown
1       Jaime  32.0     hazel
2     Michael  55.0     green
3        Mary  42.0       NaN
4         NaN  37.0     brown
5      Thomas  60.0      blue
6     Natalie   NaN     green
7      Brenda   NaN     brown
8     Michael  58.0     brown
9    Jennifer  36.0     brown
10    Michael  37.0     hazel
11    Jessica  19.0      blue
12      Molly  21.0      blue
13      Jaime  46.0     green

#### Slicing a Data Set

7. Slice rows 5 through 11 of `df`. Can you provide two ways of doing this?
8. Return only the columns ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?
9. Combine problems 1 and 2: return rows 5 though 11 and columns  ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?

# 7. soru Cevabı

In [12]:
df = pd.read_csv('client_list_practice.csv')
selected_rows = df.iloc[5:11]
#poe den destek aldım 

#İkinci Yol 
#df = pd.read_csv('client_list_practice.csv')
#selected_rows = df.loc[4:10, :]

In [13]:
df.head()

  FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
0   Jennifer     Jones      F  27.0      black     brown
1      Jaime   Roberts      M  32.0      brown     hazel
2    Michael   Johnson      M  55.0        red     green
3       Mary       NaN      F  42.0     blonde       NaN
4        NaN  Phillips      M  37.0        NaN     brown

# 8. soru cevabı Yalnızca ['LAST_NAME','AGE','HAIR_COLOR'] sütunlarını döndür df. Bunu yapmanın iki yolunu sağlayabilir misiniz?

In [14]:
df=pd.read_csv('client_list_practice.csv')[['LAST_NAME','AGE','HAIR_COLOR']]

In [15]:
df.head()

  LAST_NAME   AGE HAIR_COLOR
0     Jones  27.0      black
1   Roberts  32.0      brown
2   Johnson  55.0        red
3       NaN  42.0     blonde
4  Phillips  37.0        NaN

# 9. Soru Cevabı  1 ve 2 numaralı problemleri birleştir: 5'ten 11'e kadar olan satırları ve ['SOY_ADI','YAŞ','SAÇ_RENGİ'] sütunlarını döndür df. Bunu yapmanın iki yolunu sağlayabilir misiniz?

In [16]:
df=pd.read_csv('client_list_practice.csv')[['LAST_NAME','AGE','HAIR_COLOR']]
selected_rows = df.iloc[5:11]

In [17]:
df.head()

  LAST_NAME   AGE HAIR_COLOR
0     Jones  27.0      black
1   Roberts  32.0      brown
2   Johnson  55.0        red
3       NaN  42.0     blonde
4  Phillips  37.0        NaN

#### Simple Queries

10. Find the subset of `df` where the client's last name is "Smith".
11. Find the subset of `df` where the client's hair color is not black.
12. Find the subset of `df` where the client's hair color is red and reset the values to "ginger".

# <style color=red> 10 Soru Cevabı

#### Complex Queries

13. Find the subset of `df` where the clients are females older than 30 years.
14. Repeat problem 1, but return only the hair color and eye color.
15. Find the unique combination of hair and eye color for women older than 25 years.


#### Additional Dataframe Operations

16. Perform a `merge` using "client_list.csv" and "customer_id_list.csv". Assign the resulting dataframe as `clients`.
17. Perform a `merge` using `clients` and "purchase_log.csv" and limit the subset to only clients who made purchases. Assign the resulting dataframe as `detailed_sales`.
18. Use `groupby` to find the client who spent the most money on purchases. Determine how much he/she spent. HINT: save the intermediate dataframe from using `groupby` as `spenders` before applying slicing to determine the client who spent the most money on purchases.
19. (BONUS) Modify the answer to problem 3 slightly to determine exactly what items where purchased by the top spending client.

#### Writing Files

20. Save `detailed_sales` as a csv file named "df_out.csv" with no indices.
21. Save `detailed_sales` to a pickle file named "df_out.p"