# Data Analysis with Pandas - Problem Set

## Reading in Data

1. Read in the comma-separated file "client_list.csv". Assign as variable `df1`.
2. Read in the delimted file "client_list.table". Assign as variable as `df2`.
3. Read in the fixed-width file "client_list.txt". Assign as variable `df3`
4. Read in the comma-separated file "client_list.csv", skip the first 3 rows, and ignore the header. Do not assign to variable (just return a view).
5. Read in the comma-separated file "client_list.csv". Set the column headers in all caps. Assign as variable `df`.
6. Read in the comma-separated file "client_list_practice.csv" and only extract the columns ["FIRST_NAME","AGE","EYE_COLOR"]. Do not assign to a variable.

# 1. Soru Cevabı (Virgülle ayrılmış "client_list.csv" dosyasını okuyun. Değişken olarak atayın df1.)

In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('client_list.csv')

In [6]:
df1.head()

  first_name LAST_NAME gender  Age Hair_COLOR eye_Color
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

# 2. Soru Cevabı Ayrılmış "client_list.table" dosyasını okuyun. Değişken olarak . olarak atayın df2.

In [8]:
df2 = pd.read_table('client_list.table')

In [9]:
df2.head()

  first_name;LAST_NAME;gender;Age;Hair_COLOR;eye_Color
0                    Jennifer;Jones;F;27;black;brown
1                     Jaime;Roberts;M;32;brown;hazel
2                     Michael;Johnson;M;55;red;green
3                        Mary;Adams;F;42;blonde;blue
4                  Robert;Phillips;M;37;blonde;brown

# 3. Soru Cevabı Sabit genişlikteki "client_list.txt" dosyasını okuyun. Değişken olarak atayındf3

In [11]:
df3 = pd.read_csv('client_list.txt')

In [12]:
df3.head()

  first_name  LAST_NAME   gender  Age   Hair_COLOR  eye_Color
0  Jennifer    Jones       F       27    black   ...
1  Jaime       Roberts     M       32    brown   ...
2  Michael     Johnson     M       55    red     ...
3  Mary        Adams       F       42    blonde  ...
4  Robert      Phillips    M       37    blonde  ...

# 4. Soru Cevabı Virgülle ayrılmış "client_list.csv" dosyasını okuyun, ilk 3 satırı atlayın ve başlığı yoksayın. Değişkene atama yapmayın (sadece bir görünüm döndürün).

In [14]:
pd.read_csv('client_list.csv', skiprows=3,header=None)

           0         1  2   3       4      5
0    Michael   Johnson  M  55     red  green
1       Mary     Adams  F  42  blonde   blue
2     Robert  Phillips  M  37  blonde  brown
3     Thomas     Moore  M  60   brown   blue
4    Natalie    Potter  F  21   brown  green
5     Brenda     Jones  F  18  blonde  brown
6    Michael     Smith  M  58   brown  brown
7   Jennifer     Smith  F  36   black  brown
8    Michael     Smith  M  37   black  hazel
9    Jessica    Rabbit  F  19   black   blue
10     Molly    Bryant  F  21   brown   blue
11     Jaime  Anderson  F  46   brown  green

# 5.Soru Cevabı Virgülle ayrılmış "client_list.csv" dosyasını okuyun. Sütun başlıklarını tamamen büyük harflerle ayarlayın. Değişken olarak atayın df.

In [16]:
df = pd.read_csv('client_list.csv')
df.columns = df.columns.str.upper()

In [17]:
df.head()

  FIRST_NAME LAST_NAME GENDER  AGE HAIR_COLOR EYE_COLOR
0   Jennifer     Jones      F   27      black     brown
1      Jaime   Roberts      M   32      brown     hazel
2    Michael   Johnson      M   55        red     green
3       Mary     Adams      F   42     blonde      blue
4     Robert  Phillips      M   37     blonde     brown

# 6. Soru Cevabı Virgülle ayrılmış "client_list_practice.csv" dosyasını okuyun ve yalnızca ["FIRST_NAME","AGE","EYE_COLOR"] sütunlarını çıkarın. Bir değişkene atama yapmayın.

In [19]:
pd.read_csv('client_list_practice.csv')[['FIRST_NAME', 'AGE', 'EYE_COLOR']]

   FIRST_NAME   AGE EYE_COLOR
0    Jennifer  27.0     brown
1       Jaime  32.0     hazel
2     Michael  55.0     green
3        Mary  42.0       NaN
4         NaN  37.0     brown
5      Thomas  60.0      blue
6     Natalie   NaN     green
7      Brenda   NaN     brown
8     Michael  58.0     brown
9    Jennifer  36.0     brown
10    Michael  37.0     hazel
11    Jessica  19.0      blue
12      Molly  21.0      blue
13      Jaime  46.0     green

#### Slicing a Data Set

7. Slice rows 5 through 11 of `df`. Can you provide two ways of doing this?
8. Return only the columns ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?
9. Combine problems 1 and 2: return rows 5 though 11 and columns  ['LAST_NAME','AGE','HAIR_COLOR'] for `df`. Can you provide two ways of doing this?

# 7. soru Cevabı

In [22]:
df = pd.read_csv('client_list_practice.csv')
selected_rows = df.iloc[5:11]
#poe den destek aldım 

#İkinci Yol 
#df = pd.read_csv('client_list_practice.csv')
#selected_rows = df.loc[4:10, :]

In [23]:
df.head()

  FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
0   Jennifer     Jones      F  27.0      black     brown
1      Jaime   Roberts      M  32.0      brown     hazel
2    Michael   Johnson      M  55.0        red     green
3       Mary       NaN      F  42.0     blonde       NaN
4        NaN  Phillips      M  37.0        NaN     brown

# 8. soru cevabı Yalnızca ['LAST_NAME','AGE','HAIR_COLOR'] sütunlarını döndür df. Bunu yapmanın iki yolunu sağlayabilir misiniz?

In [25]:
df=pd.read_csv('client_list_practice.csv')[['LAST_NAME','AGE','HAIR_COLOR']]

In [26]:
df.head()

  LAST_NAME   AGE HAIR_COLOR
0     Jones  27.0      black
1   Roberts  32.0      brown
2   Johnson  55.0        red
3       NaN  42.0     blonde
4  Phillips  37.0        NaN

# 9. Soru Cevabı  1 ve 2 numaralı problemleri birleştir: 5'ten 11'e kadar olan satırları ve ['SOY_ADI','YAŞ','SAÇ_RENGİ'] sütunlarını döndür df. Bunu yapmanın iki yolunu sağlayabilir misiniz?

In [28]:
df=pd.read_csv('client_list_practice.csv')[['LAST_NAME','AGE','HAIR_COLOR']]
selected_rows = df.iloc[5:11]

In [29]:
df.head()

  LAST_NAME   AGE HAIR_COLOR
0     Jones  27.0      black
1   Roberts  32.0      brown
2   Johnson  55.0        red
3       NaN  42.0     blonde
4  Phillips  37.0        NaN

#### Simple Queries

10. Find the subset of `df` where the client's last name is "Smith".
11. Find the subset of `df` where the client's hair color is not black.
12. Find the subset of `df` where the client's hair color is red and reset the values to "ginger".

# 10.Soru Cevabı df Müşterinin soyadının "Smith" olduğu alt kümeyi bulun .

In [32]:
import pandas as pd

df = pd.read_csv('client_list_practice.csv')

In [33]:
df[df['LAST_NAME'] == 'Smith']

   FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
8     Michael     Smith    NaN  58.0      brown     brown
9    Jennifer     Smith      F  36.0      black     brown
10    Michael     Smith      M  37.0      black     hazel

# 11. Soru Cevabı dfMüşterinin saç renginin siyah olmadığı alt kümeyi bulun .

In [35]:
df[df['HAIR_COLOR'] != 'Black']

   FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
0    Jennifer     Jones      F  27.0      black     brown
1       Jaime   Roberts      M  32.0      brown     hazel
2     Michael   Johnson      M  55.0        red     green
3        Mary       NaN      F  42.0     blonde       NaN
4         NaN  Phillips      M  37.0        NaN     brown
5      Thomas     Moore      M  60.0      brown      blue
6     Natalie    Potter      F   NaN      brown     green
7      Brenda     Jones      F   NaN        NaN     brown
8     Michael     Smith    NaN  58.0      brown     brown
9    Jennifer     Smith      F  36.0      black     brown
10    Michael     Smith      M  37.0      black     hazel
11    Jessica       NaN      F  19.0      black      blue
12      Molly    Bryant      F  21.0      brown      blue
13      Jaime  Anderson      F  46.0      brown     green

# 12. Srou Cevabı dfMüşterinin saç renginin kızıl olduğu alt kümeyi bulun ve değerleri "kızıl" olarak sıfırlayın.

In [37]:
df[df['HAIR_COLOR'] == 'red']

  FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
2    Michael   Johnson      M  55.0        red     green

In [38]:
df['HAIR_COLOR'] = df['HAIR_COLOR'].replace(['red'],['Ginger'])

In [39]:
df[df['HAIR_COLOR'] == 'Ginger']

  FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
2    Michael   Johnson      M  55.0     Ginger     green

#### Complex Queries

13. Find the subset of `df` where the clients are females older than 30 years.
14. Repeat problem 1, but return only the hair color and eye color.
15. Find the unique combination of hair and eye color for women older than 25 years.

# 13. Soru Cevabı dfMüşterilerin 30 yaş üstü kadınlardan oluştuğu alt kümeyi bulun .

In [42]:
df[df['AGE'] > 30][df['GENDER'] == 'F']

/tmp/ipykernel_3764/3865045354.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['AGE'] > 30][df['GENDER'] == 'F']

   FIRST_NAME LAST_NAME GENDER   AGE HAIR_COLOR EYE_COLOR
3        Mary       NaN      F  42.0     blonde       NaN
9    Jennifer     Smith      F  36.0      black     brown
13      Jaime  Anderson      F  46.0      brown     green

# 14. Soru Cevabı . problemi tekrarlayın ancak sadece saç rengini ve göz rengini geri getirin.

In [44]:
df1=df[df['AGE'] > 30][df['GENDER'] == 'F']

/tmp/ipykernel_3764/2963718396.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1=df[df['AGE'] > 30][df['GENDER'] == 'F']

In [45]:
df1[['HAIR_COLOR','EYE_COLOR']].head()

   HAIR_COLOR EYE_COLOR
3      blonde       NaN
9       black     brown
13      brown     green

# 15. Soru Cevabı 25 yaş üstü kadınlar için eşsiz saç ve göz rengi kombinasyonunu bulun.

In [47]:
df2=df[df['AGE'] > 25][df['GENDER'] == 'F']

/tmp/ipykernel_3764/1870225286.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2=df[df['AGE'] > 25][df['GENDER'] == 'F']

In [48]:
df2[['HAIR_COLOR','EYE_COLOR']].head()

   HAIR_COLOR EYE_COLOR
0       black     brown
3      blonde       NaN
9       black     brown
13      brown     green


#### Additional Dataframe Operations

16. Perform a `merge` using "client_list.csv" and "customer_id_list.csv". Assign the resulting dataframe as `clients`.
17. Perform a `merge` using `clients` and "purchase_log.csv" and limit the subset to only clients who made purchases. Assign the resulting dataframe as `detailed_sales`.
18. Use `groupby` to find the client who spent the most money on purchases. Determine how much he/she spent. HINT: save the intermediate dataframe from using `groupby` as `spenders` before applying slicing to determine the client who spent the most money on purchases.
19. (BONUS) Modify the answer to problem 3 slightly to determine exactly what items where purchased by the top spending client.

# 16. Soru Cevabı  "client_list.csv" ve "customer_id_list.csv" kullanarak bir işlem gerçekleştirin merge. Ortaya çıkan veri çerçevesini olarak atayın clients.

In [51]:
customer_id_list=pd.read_csv('customer_id_list.csv')

In [52]:
customer_id_list.head()

   CUSTOMER_ID FIRST_NAME LAST_NAME GENDER  AGE
0            1   Jennifer     Jones      F   27
1            2      Jaime   Roberts      M   32
2            3    Michael   Johnson      M   55
3            4       Mary     Adams      F   42
4            5     Robert  Phillips      M   37

In [53]:

client_list=pd.read_csv('client_list.csv')
customer_id_list=pd.read_csv('customer_id_list.csv')
clients = pd.merge(client_list, customer_id_list, on='LAST_NAME', how='inner') ## iki data setteki ortak olanları aldım

In [54]:
clients.head()

,first_name,LAST_NAME,gender,Age,Hair_COLOR,eye_Color,CUSTOMER_ID,FIRST_NAME,GENDER,AGE
0,Jennifer,Jones,F,27,black,brown,1,Jennifer,F,27
1,Jennifer,Jones,F,27,black,brown,8,Brenda,F,18
2,Jaime,Roberts,M,32,brown,hazel,2,Jaime,M,32
3,Michael,Johnson,M,55,red,green,3,Michael,M,55
4,Mary,Adams,F,42,blonde,blue,4,Mary,F,42

# 17. Soru Cevabı merge"purchase_log.csv" kullanarak bir işlem gerçekleştirin clientsve alt kümeyi yalnızca satın alma işlemi yapan istemcilerle sınırlayın. Ortaya çıkan veri çerçevesini olarak atayın detailed_sales.

In [56]:
purchase_log=pd.read_csv('purchase_log.csv')
detailed_sales = pd.merge(clients, purchase_log, on='CUSTOMER_ID', how='inner') ##burada customer_id ile birleştiridm yukarıdaki clients datasetiye

In [57]:
detailed_sales.head()

,first_name,LAST_NAME,gender,Age,Hair_COLOR,eye_Color,CUSTOMER_ID,FIRST_NAME,GENDER,AGE,DATE,SKU,ITEM_DESCRIPTION,PRICE
0,Jennifer,Jones,F,27,black,brown,1,Jennifer,F,27,01/01/2015,39490,aspirin,12.99
1,Jaime,Roberts,M,32,brown,hazel,2,Jaime,M,32,12/24/2014,39933,gift card,50.00
2,Mary,Adams,F,42,blonde,blue,4,Mary,F,42,10/31/2014,94586,Superman costume,39.99
3,Thomas,Moore,M,60,brown,blue,6,Thomas,M,60,09/13/2014,22495,birthday card,3.99
4,Brenda,Jones,F,18,blonde,brown,1,Jennifer,F,27,01/01/2015,39490,aspirin,12.99

# 18. Soru Cevabı Satın alımlarda en çok parayı harcayan istemciyi bulmak için kullanın groupby. Ne kadar harcadığını belirleyin. İPUCU: dilimlemeyi uygulayarak satın alımlarda en çok parayı harcayan istemciyi belirlemek için ara veri çerçevesini kullanmadan önce groupbykaydedin .spenders

In [59]:
spenders = detailed_sales.groupby('CUSTOMER_ID')['PRICE'].sum().reset_index()

In [60]:
top_spender = spenders.loc[spenders['PRICE'].idxmax()]

In [61]:
top_spender.head()

CUSTOMER_ID      9.00
PRICE          689.94
Name: 4, dtype: float64

# 19. Soru Cevabı (BONUS) En çok harcama yapan müşterinin tam olarak hangi ürünleri satın aldığını belirlemek için 3. sorunun cevabını biraz değiştirin.

In [109]:
spenders = detailed_sales.groupby('CUSTOMER_ID')['ITEM_DESCRIPTION'].sum().reset_index()

In [111]:
top_spender = spenders.loc[spenders['ITEM_DESCRIPTION'].idxmax()]

In [113]:
top_spender.head()

CUSTOMER_ID                14
ITEM_DESCRIPTION    green tie
Name: 6, dtype: object

#### Writing Files

20. Save `detailed_sales` as a csv file named "df_out.csv" with no indices.
21. Save `detailed_sales` to a pickle file named "df_out.p"

# 20. Soru Cevabı : Detail_sales'i dizin olmadan "df_out.csv" adlı bir csv dosyası olarak kaydedin.

In [119]:
top_spender.to_csv('df_out.csv')

# 21. Soru Cevabı : Detail_sales'i "df_out.p" adlı bir turşu dosyasına kaydedin

In [137]:
import os
folder = 'df_out'
if not os.path.exists(folder):
    os.makedirs(folder)
top_spender.to_csv(os.path.join(folder,'df_out.csv'),index=False)

In [141]:
#Burada biraz destek aldım poe den